@import "tailwindcss";
@import "tw-animate-css";



input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fffbef inset !important; /* или твой цвет */
    -webkit-text-fill-color: #000 !important;
  }
  